@model GigHub.Core.ViewModels.DetailsViewModel
@{
    ViewBag.Title = "Details";
}
<h2 id="details">
    @Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.Following)
        {
            <button data-artist-id="@Model.Gig.ArtistId" class="btn btn-info js-toggle-following">Following</button>
        }
        else
        {
            <button data-artist-id="@Model.Gig.ArtistId" class="btn btn-default js-toggle-following">Follow</button>
        }
    }
</h2>

Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:mm")

@if (Model.Going)
{
    <p>You are going</p>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            DetailsController.init("#details");
        });
    </script>
}
